body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 20%;
    margin: 20px;
    border: solid black 2px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}